<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head  th:replace="admin/_fragments :: head(~{::title})">
    <title>分类管理</title>
</head>
<body>

<!-- 导航 -->
<nav th:replace="admin/_fragments :: menu(2)">

</nav>

<!--二级导航-->
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/types/input}" class=" item">新增</a>
            <a href="#" th:href="@{/admin/types}" class="teal active item">列表</a>
        </div>
    </div>
</div>

<!-- 中间内容 -->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">

        <!--表格-->
        <table class="ui celled center aligned table">
            <thead>
            <tr>
                <th></th>
                <th>名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <!--iterStat:索引-->
            <tr th:each="type, iterStat : ${pageInfo.list}">
                <td th:text="${iterStat.count}"></td>
                <td th:text="${type.name}"></td>
                <td>
                    <a href="#" th:href="@{/admin/types/{id}/input(id=${type.id})}" class="ui mini teal basic button">编辑</a>
                    <a href="#" th:href="@{/admin/types/{id}/delete(id=${type.id})}" onclick="return confirm('确定要删除该分类吗?')"  class="ui mini red basic button">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="6">
                    <div class="ui inverted divided stackable grid"> <!-- th:if="${pageInfo.pages}>1"-->
                        <!--当页数大于1时才显示-->
                        <div class="three wide column" align="center">
                            <a class="ui mini blue basic button" href="#" th:href="@{/admin/types(pageNum=${pageInfo.pageNum-1})}" th:unless="${pageInfo.isFirstPage}">上一页</a>
                        </div>

                        <div class="ten wide column">
                            <p>当前第 <span th:text="${pageInfo.pageNum}"/> 页 , 共 <span th:text="${pageInfo.pages}"/> 页 ,<span th:text="${pageInfo.total}"/> 条记录</p>
                        </div>

                        <div class="three wide column" align="center">
                            <a class="ui mini blue basic button" href="#" th:href="@{/admin/types(pageNum=${pageInfo.pageNum+1})}" th:unless="${pageInfo.isLastPage}">下一页</a></div>
                    </div>

                    <div align="center">
                        <a href="#" th:href="@{/admin/types/input}">
                            <button type="button" class="ui teal button m-mobile-wide m-margin-top"><i class="pencil icon"></i>新增</button>
                        </a>
                    </div>

                </th>
            </tr>
            </tfoot>
        </table>

        <!--提示内容-->
        <div class="ui  success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示:</div>
            <p th:text="${message}"></p>
        </div>


    </div>
</div>

<br>
<br>

<!-- 底部footer -->
<footer th:replace="admin/_fragments :: footer"  class="ui inverted vertical segment m-padded-tb-massive">

</footer>

<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->

<!--/*/</th:block>/*/-->


<script>
    /*菜单按钮*/
    $('.menu.toggle').click(function () {
        $('.m-item ').toggleClass('m-mobile-hide');
    });
    /*头像下拉框*/
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    // 消息提示关闭初始化
    $('.message .close ').on('click', function () {
        $(this).closest('.message').transition('fade');
    })

</script>
</body>
</html>